.more ol {
  column-gap: 20px;
}
.logo {
  flex: 0 0 5%;
}
ol li a {
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
}
.logo img {
  filter: drop-shadow(0 0 0.75rem white);
}

.button-3 {
  appearance: none;
  background-color: #ffffff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #ce0a0a;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.button-3:hover {
  background-color: #f1f1f1;
}
.back{
 filter: brightness(10);
}
/* Notes */
textarea {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  border: none;
  border-top: 1px solid black;
  outline: none;
  padding: 10px;
  resize: none;
  background-color: red;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}
[class^="bg"] {
  width: 10px;
  height: 10px;
  border-radius: 5rem;
  border: 1px solid #000000;
  cursor: pointer;
}
.bg1 {
  background-color: #e5ff00;
}
.bg2 {
  background-color: #0c6b00;
}
.bg3 {
  background-color: #05ebd7;
}
.bg4 {
  background-color: #ffae00;
}
.note .contant {
  min-height: 100px;
  max-width: 298px;
}
.note {
  border-radius: 10px;
  background-color: red;
}
.all_notes{
  flex-wrap: wrap;
  padding: 1rem;
  align-items: start;
}
.note .header{
  box-shadow: inset 0px 0px 100px 10px #34343496;
  border-radius: 5px 5px 0 0;
  background-color: red;
}
.back {
  column-gap: 10px;
}
.note .header{
    border-bottom: 1px solid black;
}
.f25{
    flex: 0 0 calc(25% - 10px);
}
.aTag{
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
.links input{
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 3px;
  width: 135px;
}
.links{
  display: none;
  position: relative;
}
.links p{
  position: absolute;
  right: 0;
  top: 0%;
  cursor: pointer;
  background-color: red;
  border-radius: 4rem 0 0 4rem;
  color: #ffffff;
  padding: 2px;
}
.hide{
  display: block !important;
}
.a{
  display: block;
  margin-right: 10px;
  color: #ffffff;
}
.under{
  text-decoration: underline;
}

@media (max-width: 670px) {
  .logo{
    display: none;
  }

  .header.b .container .f3 {
    flex: 0 0 100%;
  }
  .header.b .container .f3 .btn{
    text-align: center;
  }
}
a[href]{
  color: #000000;
}